.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  height: 45%;
  width: 90%;
  cursor: pointer;
  z-index: 999999;
}
.card::before {
    position: absolute;
    content: "";
    width: 90%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 1.5rem;
    transform: perspective(25rem) rotateX(var(--rotate, 0deg)) scale(var(--scale, 1));
    transform-origin: bottom;
    transition: .5s ease-in-out;
}
.card::before {
  background-image: url('../../assets/cards/equipCards.png');
  
}
.cards3D {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  filter: drop-shadow(0 0 3px #000);
}
.card:hover::before {
    --scale: 1.3;
}
.card:hover::before {
    --rotate: 65deg;
    filter: blur(.5px) drop-shadow(0 0 10px #000);
}
.cardInfo {
  position: relative;
  width: 80%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: gold 1px solid;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.616);
  color: #fff;
  font-size: 0.5rem;
  text-shadow: 0 0 10px #fff;
  text-wrap: wrap;
  margin-bottom: 15%; 
}

.cardTitle {
  width: 90%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  font-weight: bold;
  text-shadow: 0 0 10px #fff;
  color: #fff;
  border-bottom: gold 1px solid;
}

.cardText {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 70%;
  font-size: 0.8rem;
  text-align: center;
  text-shadow: 0 0 10px #fff;
  color: #fff;
  text-wrap: wrap;
  padding: 10px;
}