
.planilhaPopUp {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 45%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: all 0.5s ease;
  background: transparent;
}

.flagScrollTop {
  background-image: url('../../assets/fragmentImage/flagScrollTopScreen.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  right: 15%;
  width: 30%;
  height:20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flagScrollTop p {
  font-size: 1.5rem;
  font-family: 'Caveat', cursive;
  color: #850707;
}

.flagScrollTop h1 {
  font-size: 2.0rem;
  font-family: 'Caveat', cursive;
  color: #850707;
  filter: drop-shadow(1px 1px 5px #000);
}

.flagScrollTop h1 span {	
  font-size: 2.0rem;
  font-family: 'Caveat', cursive;
  color: #000;
}

.containerImageBoard {
  background-image:url('../../assets/fragmentImage/mesaTeste.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 20%;
  right: 1%;
  width: 60%;
  height:75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  z-index: 100;
  padding: 5px;
}

.mapaContainer {
  background-image: url('../../assets/fragmentImage/worldMapBackGround.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  right: 3%;
  width: 85%;
  height:100%;
  display: flex;
  gap: 3rem;
  justify-content: center;
  z-index: 200;
}

.imgFlow {
  align-self: center;
  width: 25%;
  height: 50%;
  filter: drop-shadow(0px 0px 15px #000);
  transition: all 0.5s ease;
  cursor: pointer;
  z-index: 300;
  will-change: transform;
  transition: all 1s ease;
}

.imgFlow:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 3px #fff);
  transition: all 1s ease;
}

.window01Container {
  position: absolute;
  top: 1%;
  left: 0; 
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: #fefee3a8;
  border-radius: 5px;
  border: #000 1px solid;
  filter: drop-shadow(0 0 3px #fff);
  will-change: transform;
  transition: all 1s ease;
  font-family: 'Caveat', cursive;
  font-weight: 800;
  padding: 15px;
  color: #000;
}


.buttonChoiceA {
  background-image: url('../../assets/fragmentImage/buttonFrame.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 5px;
  border: none;
  width: 80px;
  height: 45px;
  z-index: 100;
  cursor: pointer;
  filter: drop-shadow(0 0 3px #fff);
  transition: all 0.3s ease;
  z-index: 500;
  background-color: #fefee370;
  color: #563413;
  font-family: 'Caveat', cursive;
  font-weight: 800;
  will-change: transform;
  transition: all 1s ease;
}

.buttonChoiceA:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 3px #fff);
  transition: all 0.3s ease;
  background-color: #fefee3;
}


.fadeIn {
  animation: fadeIn 0.5s forwards;
}

.fadeOut {
  animation: fadeOut 0.5s forwards;
  transition: opacity 0.5s ease-in-out;
}

.toggleActive {
  transform: scale(1.1);
  filter: drop-shadow(0 0 3px #fff);
  transition: all 1s ease;
}

.toggleActive2 {
  transform: scale(1.1);
  filter: drop-shadow(0 0 3px #fff);
  transition: all 1s ease;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}