
.planilhaPopUp {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 45%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: all 0.5s ease;
  background: transparent;
}

.flagScrollTop {
  background-image: url('../../assets/fragmentImage/flagScrollTopScreen.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  right: 15%;
  width: 30%;
  height:20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flagScrollTop p {
  font-size: 1.5rem;
  font-family: 'Caveat', cursive;
  color: #850707;
}

.flagScrollTop h1 {
  font-size: 2.0rem;
  font-family: 'Caveat', cursive;
  color: #563413;
}

.containerImageBoard {
  background-image:url('../../assets/fragmentImage/mesaTeste.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 20%;
  right: 1%;
  width: 60%;
  height:75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  z-index: 100;
  padding: 5px;
}

.mapaContainer {
  background-image: url('../../assets/fragmentImage/worldMapBackGround.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  right: 3%;
  width: 85%;
  height:100%;
  display: flex;
  gap: 3rem;
  justify-content: center;
  z-index: 200;
}

.imgFlow {
  align-self: center;
  width: 30%;
  height: 55%;
  filter: drop-shadow(0px 0px 15px #000);
  transition: all 0.5s ease;
  cursor: pointer;
  z-index: 300;
  will-change: transform;
  transition: all 1s ease;
}

.imgFlow:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 3px #fff);
  transition: all 1s ease;
}

.imgFlow2 {
  align-self: center;
  width: 55%;
  height: 55%;
  filter: drop-shadow(0px 0px 15px #000);
  transition: all 0.5s ease;
  cursor: pointer;
  z-index: 300;
  will-change: transform;
  transition: all 1s ease;
  animation: fadeIn 0.5s forwards;
}

.imgFlow2:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 3px #fff);
  transition: all 1s ease;
}

.imgFlow2 img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 0 5px #000);
  will-change: transform;
  transition: all 1s ease;
  animation: fadeIn 0.5s forwards;
}

.window01Container {
  position: absolute;
  top: 1%;
  left: 0; 
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  background-color: #fefee3a8;
  border-radius: 5px;
  border: #000 1px solid;
  filter: drop-shadow(0 0 3px #fff);
  will-change: transform;
  animation: fadeIn 0.5s forwards;
  transition: all 1s ease;
  font-family: 'Caveat', cursive;
  font-weight: 800;
  padding: 15px;
  color: #563413;
}

.window02Container {
  position: absolute;
  bottom: 1%;
  right: 0; 
  width: 65%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 500;
  background-color: #fefee3a8;
  border-radius: 5px;
  border: #000 1px solid;
  filter: drop-shadow(0 0 3px #fff);
  will-change: transform;
  transition: all 1s ease;
  font-family: 'Caveat', cursive;
  font-weight: 600;
  font-size: small;
  padding: 15px;
  color: #563413;
}

.window03Container {
  position: absolute;
  bottom: 1%;
  right: 0; 
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 500;
  background-color: #fefee3a8;
  border-radius: 5px;
  border: #000 1px solid;
  filter: drop-shadow(0 0 3px #fff);
  will-change: transform;
  transition: all 1s ease;
  font-family: 'Caveat', cursive;
  font-weight: 600;
  font-size: small;
  padding: 15px;
  color: #563413;
}

.window04Container {
  position: absolute;
  bottom: 1%;
  right: 0; 
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 500;
  background-color: #fefee3a8;
  border-radius: 5px;
  border: #000 1px solid;
  filter: drop-shadow(0 0 3px #fff);
  will-change: transform;
  transition: all 1s ease;
  font-family: 'Caveat', cursive;
  font-weight: 600;
  font-size: small;
  padding: 15px;
  color: #563413;
}

.window05Container {
  position: absolute;
  bottom: 1%;
  right: 0; 
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 500;
  background-color: #fefee3a8;
  border-radius: 5px;
  border: #000 1px solid;
  filter: drop-shadow(0 0 3px #fff);
  will-change: transform;
  transition: all 1s ease;
  font-family: 'Caveat', cursive;
  font-weight: 600;
  font-size: small;
  padding: 15px;
  color: #563413;
}

.window06Container {
  position: absolute;
  bottom: 1%;
  right: 0; 
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 500;
  background-color: #fefee3a8;
  border-radius: 5px;
  border: #000 1px solid;
  filter: drop-shadow(0 0 3px #fff);
  will-change: transform;
  transition: all 1s ease;
  font-family: 'Caveat', cursive;
  font-weight: 600;
  font-size: small;
  padding: 15px;
  color: #563413;
}

.window07Container {
  position: absolute;
  bottom: 1%;
  right: 0; 
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 500;
  background-color: #fefee3a8;
  border-radius: 5px;
  border: #000 1px solid;
  filter: drop-shadow(0 0 3px #fff);
  will-change: transform;
  transition: all 1s ease;
  font-family: 'Caveat', cursive;
  font-weight: 600;
  font-size: small;
  padding: 15px;
  color: #563413;
}

.window08Container {
  position: absolute;
  bottom: 1%;
  right: 0; 
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 500;
  background-color: #fefee3a8;
  border-radius: 5px;
  border: #000 1px solid;
  filter: drop-shadow(0 0 3px #fff);
  will-change: transform;
  transition: all 1s ease;
  font-family: 'Caveat', cursive;
  font-weight: 600;
  font-size: small;
  padding: 15px;
  color: #563413;
}

.buttonChoiceA {
  background-image: url('../../assets/fragmentImage/buttonFrame.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 5px;
  border: none;
  width: 80px;
  height: 45px;
  z-index: 100;
  cursor: pointer;
  filter: drop-shadow(0 0 3px #fff);
  transition: all 0.3s ease;
  z-index: 500;
  background-color: #fefee370;
  color: #563413;
  font-family: 'Caveat', cursive;
  font-weight: 800;
  will-change: transform;
  transition: all 1s ease;
}

.buttonChoiceA:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 3px #fff);
  transition: all 0.3s ease;
  background-color: #fefee3;
}

.fadeInBookParty {
  position: absolute;
  top: 1%;
  left: 50%; 
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fefee3a8;
  border: #000 1px solid;
  filter: drop-shadow(0 0 3px #fff);
  will-change: transform;
  transition: all 1s ease;
  animation: fadeIn 0.5s forwards;
  z-index: 500;
  opacity: 1;
}

.toggleActive {
  transform: scale(1.1);
  filter: drop-shadow(0 0 3px #fff);
  transition: all 1s ease;
}

.toggleActive2 {
  transform: scale(2.0);
  filter: drop-shadow(0 0 3px #fff);
  transition: all 1s ease;
}

.toggleActive3 {
  transform: scale(2.0);
  filter: drop-shadow(0 0 3px #fff);
  transition: all 1s ease;
}

.toggleActive4 {
  transform: scale(2.0);
  filter: drop-shadow(0 0 3px #fff);
  transition: all 1s ease;
}

.toggleActive5 {
  transform: scale(2.0);
  filter: drop-shadow(0 0 3px #fff);
  transition: all 1s ease;
}

.toggleActive6 {
  transform: scale(2.0);
  filter: drop-shadow(0 0 3px #fff);
  transition: all 1s ease;
}

.toggleActive7 {
  transform: scale(2.0);
  filter: drop-shadow(0 0 3px #fff);
  transition: all 1s ease;
}

.toggleActive8 {
  transform: scale(2.0);
  filter: drop-shadow(0 0 3px #fff);
  transition: all 1s ease;
}

.imgPersonagens{
  object-fit: contain;
  width: 10%;
  height: 100%;
  filter: drop-shadow(0 0 5px #000);
  will-change: transform;
  transition: all 1s ease;
  cursor: pointer;
}

.imgPersonagensIntern{
  object-fit: contain;
  width: 10%;
  height: 100%;
  filter: drop-shadow(0 0 5px #000);
  will-change: transform;
  transition: all 1s ease;
  cursor: pointer;
}

.imgPersonagens:hover {
  transform: scale(2.0);
  filter: drop-shadow(0 0 3px #fff);
  transition: all 1s ease;
}

.fadeIn {
  animation: fadeIn 0.8s forwards;
}

.fadeOut {
  animation: fadeOut  0.3s forwards;
  transition: opacity 0.8s ease-in-out;
}

@keyframes fadeIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0;
    display: none;
  }
}