.sheetMainContainer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 7;
  object-fit: contain;
  background: radial-gradient( circle, rgb(29, 16, 7) 0%, rgb(26, 14, 7) 20%, rgb(10, 6, 3) 50%, rgb(0, 0, 0) 100% );
}

.sheet{
  background-image: url('../../assets/characterSheet/sheetBackground.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 60%;
  object-fit: contain;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-self: center;
  filter: drop-shadow(0 0 3px #fff);
  position: relative;
}

.book{
  background-image: url('../../assets/characterSheet/bookOfAtributes.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 60%;
  height: 50%;
  object-fit: contain;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-self: center;
  filter: drop-shadow(0 0 3px #000);
  position: absolute;
  top: 5%;
  right: 5%;
  gap: 0.5rem;
}

.atributeSide{
  margin-top: 3%;
  width: 35% ;
  height: 60%; 
  z-index: 3;
}

.info{
  display: flex;
  border-bottom: #000 1px solid;
}

.atributeSide h3{
  text-align: center;
  font-size: 0.8rem;
  border-bottom: #211d1d 1px solid;
  width: 100%;
  height: 20%;
  z-index: 3;
}

.att{
  width: 60%;
  height: 20%;
  display: flex;
  background-color: #211d1d;
  font-size: 0.6rem;
  z-index: 3;
  font-family: 'Caveat', cursive;
  color: #fff;
  font-weight: 600;
  padding: 0.5rem;
  width: 70%;
}

.attValor{
  width: 40%;
  background-color: transparent;
  border: none;
}

.buttonRolls{
  position: absolute;
  top: -40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  height: 20%;
  background-color: #fff;
  z-index: 3;
}



.infoSide{
  margin-top: 3%;
  width: 35%;
  height: 80%;
  background-color: #211d1d;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  filter: drop-shadow(0 0 2px #000);
  border-radius: 10px; 
}

.scrollFlag1{
  background-image: url('../../assets/characterSheet/flagScroll.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 55%;
  height: 15%;
  text-align: center;
  font-size: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  filter: drop-shadow(0 0 2px #fff);
  text-shadow: 0 0 3px #fff;
}

.backPack{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
  position: relative;
}

.backPackButton{
  width: 70%;
  height: 85%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  filter: drop-shadow(0 0 2px #000);
  border-radius: 10px;
}

.backPackButton img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sheetEnemies{
  position: absolute;
  bottom: 5%;
  right: 7%;
  width: 55%;
  height: 40%;
  border-radius: 10px;
  background-color: #211d1d;
  display: flex;
  justify-content: center;
  filter: drop-shadow(0 0 2px #000);
}

.scrollFlag{
  background-image: url('../../assets/characterSheet/flagScroll.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 45%;
  height: 20%;
  text-align: center;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  filter: drop-shadow(0 0 2px #fff);
  text-shadow: 0 0 3px #fff;
}

.leftSheet{
  position: absolute;
  top: 0;
  left: 0;
  width: 38%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.sheetHeader{
  width: 100%;
  height: 10%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.scrollFlagHeader{
  background-image: url('../../assets/characterSheet/flagScroll.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 90%;
  object-fit: contain;
  filter: drop-shadow(0 0 2px #000);
  text-align: center;
  color: #211d1d;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 3px #fff;
}

.sheetCharacterImage{
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
  perspective: 1000px;
  z-index: 10;
}

.sheetCharacterImage:hover {
  cursor: pointer;
}

.flipped {
  transform: rotateY(180deg) scale(2.5);
  transition: transform 0.6s ease;
  z-index: 20;
}

.flipped2 {
  transform: rotateY(180deg) scale(2.5);
  transition: transform 0.6s ease;
  z-index: 20;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  border-radius: 5px;
}

.front {
  transform: rotateY(0deg);
  z-index: 3;

}

.cardBack {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.backPack {
  cursor: pointer;
}

.backback {
  width: 100%;
  height: 100%;
  background-color: #211d1d;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  border: 1px solid #000;
  border-radius: 5px;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
}

.subBackPackContainer1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  gap: 8px;
}

.subBackPackContainer2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  gap: 8px;
}

.subBackPack {
  width: 40%;
  height: 90%;
  background-color: transparent;
  border-radius: 4px;
  box-shadow: 0px 0px 2px #fff;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

.back {
  transform: rotateY(180deg);
  z-index: 10;
  background-color: #211d1d;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #000;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 10;
}

.back p {
  text-align: center;
  font-size: 0.6rem;
  font-family: 'Caveat', cursive;
  padding: 0.4rem;
  color: #fff;
}

.sheetCharacterImage img{
  position: relative;
  align-self: center;
  width: 41%;
  height: 99%;
  object-fit: contain;
  border: 1px solid #211d1d;
  border-radius: 5px;
  z-index: 1;
  filter: drop-shadow(2px 2px 5px #000);
  transition: transform 0.1s ease;
}

.sheetMiddle{
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  z-index: 1;
}

.cardEquip{
  background-image: url('../../assets/characterSheet/cardEquip.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 25%;
  height: 86%;
  object-fit: contain;
  filter: drop-shadow(0 0 2px #000);
  z-index: 1;
}

.sheetMagic{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  z-index: 1;
}

.sheetMagic button{
  display: flex;
  align-items: center;
  border: none;
  border-radius: 50%;
  width: 10%;
  height: 50%;
  background-color: transparent;
  object-fit: contain;
  cursor: pointer;
}

.sheetBottom{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  z-index: 1;
  object-fit: contain;
}

.scrollDecor{
  display: flex;
  justify-content: center;
}

.sheetBottom img{
  width: 40%;
  align-self: center;
  object-fit: contain;
  z-index: 1;
}

.qtdMagic{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.qtdMagicBackground{
  background-color: #211d1d;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-family: 'Caveat', cursive;
}

.fadeIn{
  animation: fadeIn 1s ease-in forwards;
}

.rolarDado{
  position: absolute;
  top: -15%;
  right: 50%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}