.mortePersonagemContainer {
  background-color: #000;
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 3s ease;
  animation: fadeIn 2s forwards;
}

.mortePersonagemContainer h1 {
  font-family: 'livingStone', cursive;
  font-size: 3rem;
  color: crimson;
  text-shadow: 0 0 20px  #000;
}

.blood {
  position: absolute;
  top: 0;
  left: 30%;
  width: 40%;
  height: 40%;
  object-fit: cover;
  z-index: -1;
}

.blood img {
  width: 100%;
}

.mortePersonagem{
  animation: unBlurred 3s forwards;
}

.reiniciar {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 10%;
  height: 10%;
  cursor: pointer;
  z-index: 999999;
  animation: fadeIn 3s forwards;
}

@keyframes unBlurred {
  0% {
    filter: blur(5px);
    transform: scale(0.5); ;
  }
  100% {
    transform: scale(1);
    filter: blur(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}