body {
  background-color: #000;
  z-index: -1;
}

.prologoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 2s ease-in-out;
}

.title {
  font-family: 'Caveat', cursive;
  text-align: center;
  color: white;
  font-size: 3em;
}

.titleSpan {
  font-family: 'deadSecretary';
  text-align: center;
  font-weight: 300;
  color: #ffcc00;
}

.fadeOut {
  animation: slideOut 4s ease-out forwards;
  opacity: 0;
}

@keyframes slideOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    }
  to {
    opacity: 0;
  }
}