.combatePagina {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 99999;
  animation: fadeIn 1s forwards;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.containerPlanilha {
  width: 45%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  filter:drop-shadow(0 0 5px #fff);
  transition: all 0.5s ease;
  will-change: transform;
}

.ataqueButton {
  position: absolute;
  bottom: 5%;
  left: 5%;
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation: fadeInLeft 1s ease-in-out;
}

.ataqueButton.disabled {
  pointer-events: none;
  opacity: 0.5; /* opcional, para dar um efeito de desabilitado */
}

.containerEnemie {
  right: 2%;
  width: 45%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 0 5px #fff);
  overflow: hidden;
  z-index: 200;
  transition: all 0.5s ease;
  will-change: transform;
}

.attckEffect {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  transform: rotate(-15deg);
  background-image: url('../../assets/fragmentImage/blood02.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 999999;
  animation: slowFadeBloodDropDown 3s ease-in-out;
}

.attckEffect2 {
  animation: fadeOut 0.5s ease-in-out;
}

.containerCombateIcone {
  width: 10%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:15px;
  z-index: 20;
  color: #fff;
  box-shadow: 0 0 5px #fff;
  transition: all 0.5s ease;
  will-change: transform;
}

.fadeInPlanilha {
  animation: fadeInTopRightToMiddleLeft 4s ease-in-out;
}

.fadeInEnemie {
  animation: fadeInBottomLeftToMiddleRight 4s ease-in-out;
}

.zoomIn {
  animation: zoomIn 7s ease-in-out;
}

.containerCombateATB {
  position: absolute;
  top: 1%;
  left: 0;
  width: 100%;
  height:10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999999;
  color: #fff;
  font-family: 'livingStone', cursive; ;
}

.containerDiceRoll {
  margin-top: 5px; 
  width: 30%;
  height:150%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'livingStone', cursive;
  color: #fff;
}

.containerDiceRoll p {
  color: #fff;
  font-size: 2rem;
  font-family: 'livingStone', cursive;  
}

.diceRollPlayer {
  position: relative;
  width: 45%;
  height:80%;
}

.diceRollPlayer label {
  color: #fff;
  font-size: 0.8rem;
  position: absolute;
  bottom: -20%;
  left: 0;
}

.diceRollPlayer input {
  width: 100%;
  height: 100%;
  border: #fff 1px solid;
  border-radius: 10px 0;
  background-color: #563413;
  box-shadow: inset 0 0 10px #000;
  text-align: center;
  color: #fff;
  font-size: 1.8rem;
  text-shadow: #000 2px 2px;
  font-family: 'livingStone', cursive;
}

.diceRollEnemie {
  position: relative;
  width: 45%;
  height:80%;
}

.diceRollEnemie input {
  width: 100%;
  height: 100%;
  border: #fff 1px solid;
  border-radius: 10px 0;
  background-color: #563413;
  box-shadow: inset 0 0 10px #000;
  text-align: center;
  color: #fff;
  font-size: 1.8rem;
  text-shadow: #000 2px 2px;
  font-family: 'livingStone', cursive;
}

.diceRollEnemie label {
  color: #fff;
  font-size: 0.8rem;
  position: absolute;
  bottom: -20%;
  right: 0;
}

.playerCombateATBBar {
  width: 30%;
  height:80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;;
  z-index: 999999;
  margin: 0 20px;
}

.enemieCombateATBBar {
  width: 30%;
  height:80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;;
  z-index: 999999;
  margin: 0 20px;
}

@keyframes fadeInTopRightToMiddleLeft {
  0% {
    opacity: 0;
    transform: translateX(200%) translateY(-35%) scale(0.8);
  }
  50% {
    opacity: 1;
    transform: translateX(0) translateY(-35%) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(0) scale(1);
  }
}

@keyframes fadeInBottomLeftToMiddleRight {
  0% {
    opacity: 0;
    transform: translateX(-200%) translateY(35%) scale(0.8);
  }
  50% {
    opacity: 1;
    transform: translateX(0) translateY(35%) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(0) scale(1);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
} 

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slowFadeBloodDropDown {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  50% {
    transform: translate(0,0);
    opacity: 1;
  }
  100% {
    transform: translate(0, 25px);
    opacity: 0;
  }
}