body{
    background-color: #000;
    z-index: -1;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    display: grid;
    place-content: center;
}

.diceStyleContainer{
    perspective: 1000px;
    perspective-origin: 50% 50%;
}

.diceStyleCube{
    position: relative;
    width: 50px;
    height: 50px;
    transform-style: preserve-3d;
    animation: rotate 6s linear infinite;
}

.diceStyleCube div{
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 0.9;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
}

.s1{
    transform: translateZ(25px);
}

.s1 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(0 0 3px #fff);
}


.s2{
    transform: rotateY(90deg) translateZ(25px);
}

.s2 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(0 0 3px #fff);
}

.s3{
    transform: rotateY(180deg) translateZ(25px);
}

.s3 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(0 0 3px #fff);
}

.s4{
    transform: rotateX(90deg) translateZ(25px);
}

.s4 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(0 0 3px #fff);
}

.s5{
    transform: rotateY(-90deg) translateZ(25px);
}

.s5 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(0 0 3px #fff);
}

.s6{
    transform: rotateX(-90deg) rotate(180deg)  translateZ(25px);
}

.s6 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(0 0 3px #fff);
}


.diceStyleCube.rolling {
    animation: bounce 2s ease-in-out; /* Ativa a nova animação */
}


@keyframes bounce {
    0% {
    transform: translate(0, 0) rotate(0deg);
    }
    25% {
    transform: translate(50px, -50px) rotate(90deg);
    }
    50% {
    transform: translate(-50px, 50px) rotate(180deg);
    }
    75% {
    transform: translate(50px, 50px) rotate(270deg);
    }
    100% {
    transform: translate(0, 0) rotate(360deg);
    }
}


@keyframes rotate{
    100%{
        transform: rotateY(360deg) rotateX(0deg) rotateZ(360deg);
    }
}